<h1>Encode Image</h1>
<%= image_tag @post.image.url(:medium) %><br>
<!-- TODO:  Change to original size accross all files-->

<br>

<%= form_tag(encrypt_image_url(@post), method: :patch) do -%>
  <label for='encrypt_image'>Enter message: <label/>
  <input id="encrypt_image" type='text' name='message' >
  <div><%= submit_tag 'Save' %></div>
<% end -%>
