// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 200px;
}

.comment-container {
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.new-comment-container {
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
}

.comment-user {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.comment-body {
  font-size: 14px;
}

.comment-right {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  width: 40px;
  align-items: center;
}

.comment-input {
}
