// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 88.2%;
  background-color: #fff0f2;
  list-style-type: none;
}

#comment-list > h4 {
  font-size: 25px;
  font-family: "Merriweather";
}

.comment-container {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
}

.trash-can {
}

.new-comment-container {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid black;
  // background-color: #f9f9f9;
  border-radius: 15px;
}

.comment-input-box {
  border: 0px solid;
}

.comment-input-box:focus {
  outline: none;
  font-family: "Merriweather";
  font-weight: bold;
}

.comment-user {
  font-size: 15px;
  font-family: "Merriweather";
  font-weight: 900;
  color: black;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
}

.comment-body {
  font-size: 12px;
  font-family: "Merriweather";
  font-weight: 900;
  color: black;
}

.comment-right {
  word-wrap: break-word;
  align-items: center;
  justify-content: space-between;
}

.comment-input {
}
