// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 49%;
  background-color: #fff0f2;
}

.comment-container {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 15px;
}

.new-comment-container {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 2px solid black;
  // background-color: #f9f9f9;
  border-radius: 15px;
}

.comment-input-box {
  border: 0px solid;
}

.comment-input-box:focus {
  outline: none;
}

.comment-user {
  font-size: 15px;
  font-family: "Merriweather";
  font-weight: 900;
  color: black;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
}

.comment-body {
  font-size: 14px;
}

.comment-right {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  width: 40px;
  align-items: center;
}

.comment-input {
}
