// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.comment-container {
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.new-comment-container {
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: white;
}
