.footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-radius: 20px;
}

.foot-right a {
  margin-right: 15px;
  color: black;
}

.foot-left p {
  text-align: left;
  margin-right: 400px;
}
