header {
  display: flex;
  justify-content: space-between;
  // align-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #ffe066;
  border-bottom: 1px solid #ffcc00;
  background-color: #ffcc00;
  padding: 1px;
  padding-bottom: 7px;
  // margin-bottom: 20px;
}

.header-link {
  font-size: 14px;
  font-family: "Merriweather", serif;
  margin-left: 25px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-decoration: none;
  padding: 0px;
  color: white;
}

.header-link:hover {
  color: white;
}

.nav-right {
  padding: 15px 10px 0px 0px;
}

.header-group {
  padding: 0 20px;
}

.header-button {
  background: transparent;
  align-items: center;
  padding: 1px 10px 1px 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 12px;
  // text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Futura";
  color: #fff;
  // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080,
  //   0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  border: none;
}

// .header-button.home {
//   font-family: "Futura";
//   color: #fff;
//   text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffff00, 0 0 30px #ffff00,
//     0 0 40px #ffff00, 0 0 55px #ffff00, 0 0 75px #ffff00;
//   text-align: center;
//   border: none;
// }

.header-button.explore {
  font-family: "Futura";
  color: black;
  // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffff00, 0 0 30px #ffff00,
  //   0 0 40px #ffff00, 0 0 55px #ffff00, 0 0 75px #ffff00;
  text-align: center;
  border: none;
}

.header-button.logout {
  font-family: "Futura";
  color: black;
  // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00ff00, 0 0 30px #00ff00,
  //   0 0 40px #00ff00, 0 0 55px #00ff00, 0 0 75px #00ff00;
  text-align: center;
  border: none;
}

.header-button.profile {
  font-family: "Futura";
  color: black;
  // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00ffff, 0 0 30px #00ffff,
  //   0 0 40px #00ffff, 0 0 55px #00ffff, 0 0 75px #00ffff;
  text-align: center;
  border: none;
}
//
// .header-button.explore {
//   font-family: "Futura";
//   color: black;
//   text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffff00, 0 0 30px #ffff00,
//     0 0 40px #ffff00, 0 0 55px #ffff00, 0 0 75px #ffff00;
//   text-align: center;
//   border: none;
// }
//
// .header-button.logout {
//   font-family: "Futura";
//   color: #fff;
//   text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00ff00, 0 0 30px #00ff00,
//     0 0 40px #00ff00, 0 0 55px #00ff00, 0 0 75px #00ff00;
//   text-align: center;
//   border: none;
// }
//
// .header-button.profile {
//   font-family: "Futura";
//   color: #fff;
//   text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00ffff, 0 0 30px #00ffff,
//     0 0 40px #00ffff, 0 0 55px #00ffff, 0 0 75px #00ffff;
//   text-align: center;
//   border: none;
// }

.header-button:hover {
  text-decoration: underline;
  // color: orange;
}

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form-box {
  // outline: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  background-color: #ebebeb;
  outline: none;
  border-radius: 3px;
}

.session-button-container {
  display: flex;
  justify-content: space-between;
}

.session-button {
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  font-family: sans-serif;
  font-size: 11px;
  width: 75px;

  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}

.session-button:hover {
  background-color: black;
}

.switch-forms {
  margin-top: 25px;
  text-align: center;
  // color: $gray;
}

.switch-forms:hover {
  text-decoration: underline;
}

.session-errors {
  font-size: 12px;
  padding-bottom: 5px;
}
