header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  padding: 10px;
}

.header-link {
  font-size: 15px;
  text-decoration: none;
  padding: 0px;
  color: white;
}

.header-link:hover {
  color: white;
}

.nav-right {
  padding: 15px 10px 0px 0px;
}

.header-group {
  padding: 0 20px;
}

.header-button {
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-button:hover {
  text-decoration: underline;
  color: orange;
}

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form-box {
  // outline: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  background-color: #ebebeb;
  outline: none;
  border-radius: 3px;
}

.session-button-container {
  display: flex;
  justify-content: space-between;
}

.session-button {
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  font-family: sans-serif;
  font-size: 11px;
  width: 75px;

  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}

.session-button:hover {
  background-color: black;
}

.switch-forms {
  margin-top: 25px;
  text-align: center;
  // color: $gray;
}

.switch-forms:hover {
  text-decoration: underline;
}

.session-errors {
  font-size: 12px;
  padding-bottom: 5px;
}
