// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  // display: inline-grid;
  display: flex;
  // justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  // width: 00px;
  // align-self: center;
  align-self: baseline;
  height: 4500px;
  background-color: #f9f9f9;
  padding-top: 20px;
  margin-top: 0px;
}

.Post {
  // display: flex;
  margin: 15px;
  flex-grow: 1;
  order: 0;
  border-radius: 10px;
  padding: 1px 1px 5px 1px;
  background-color: white;
}

img {
  border-radius: 10px;
}

.Post h5 {
  text-align: center;
  font-weight: 900;
  font-family: monospace;
  font-size: 12px;
  // display: none;
}

.Post-load {
  background: #000;
  opacity: 0.6;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 100%;
}

.Post-load {
}

.Post:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #404040;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  background-color: #aaffaa;
  color: black;
  border: 0.5px solid #aaffaa;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 20px;
  margin: 5px;
}

.modal-btn.encode {
  background-color: #ffb361;
  border: 0.5px solid #ffb361;
}

.modal-btn:hover {
  opacity: 0.8;
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather";
}

.encode-form {
  display: none;
}

.fa-plus-circle {
  color: purple;
  margin-left: 40px;
}

.plusIcon {
  background-color: #f9f9f9;
  padding-top: 10px;
}

.fa-plus-circle:hover {
  transform: scale(1.2);
  // transition: 2;
}
