// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  display: inline-grid;
}

.Post {
  display: inline-grid;
  margin: 5px;
  margin-left: 30px;
  border: 2px solid black;
  padding: 10px;
  background-color: yellow;
}
