// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  // display: inline-grid;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  background-color: #f9f9f9;
  padding-top: 20px;
}

.Post {
  // display: flex;
  margin: 10px;
  // box-shadow: 10px 10px 8px #888888;
  // margin-left: 30px;
  // border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
}

.Post:hover {
  transform: scale(1.1);
  opacity: 0.7;
  box-shadow: 0px 0px 10px #404040;
}

.modal-btn {
  background-color: #e60000;
  color: white;
  border: 0.5px solid #e60000;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 20px;
  margin: 5px;
}

.modal-btn.encode {
  background-color: #000080;
  border: 0.5px solid #000080;
}

.modal-btn:hover {
  opacity: 0.8;
}

.modal-image {
}

.encode-form {
  display: none;
}

.fa-plus-circle {
  color: purple;
}

.fa-plus-circle:hover {
  transform: scale(1.2);
  // transition: 2;
}
