// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  // display: inline-grid;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: white;
  padding-top: 20px;
}

.Post {
  // display: flex;
  margin: 20px;
  box-shadow: 10px 10px 8px #888888;
  margin-left: 30px;
  border: 2px solid black;
  padding: 10px;
  background-color: yellow;
}

.modal-image {
}
