.parallax {
  background-image: url("https://cdn-images-1.medium.com/max/1600/1*ieFE-OttOL_h7F_R4GgOAg.jpeg");
  // background-image: url("https://oddviser.com/photo/place/1600/846.jpg?1496220904");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // position: relative;
  height: 800px;
}

.splash-text {
  // color: white;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.splash-text > h1 {
  font-size: 32px;
  margin: 30px 0px;
  font-weight: bold;
  letter-spacing: 6px;
}

.splash-text > h4 {
  font-size: 16px;
  margin: 30px 0px;
}

.splash-text > button {
  padding: 10px;
  // border: 2px solid $charcoal;
  background: rgba(255, 255, 255, 0.15);
  font-family: sans-serif;
  font-size: 11px;
  width: 75px;

  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}
