.parallax {
  display: flex;
  justify-content: flex-end;
  background-image: url("cover2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 800px;
}

.splash-text {
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.splash-text > h1 {
  font-size: 32px;
  margin: 30px 0px;
  font-weight: bold;
  letter-spacing: 6px;
}

.splash-text > h4 {
  font-size: 16px;
  margin: 30px 0px;
}

.splash-text > button {
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  font-family: sans-serif;
  font-size: 11px;
  width: 75px;

  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}

.element {
  justify-content: center;
  width: 500px;
  margin-top: 60px;
}

.element > h1 {
  margin-top: 0px;
  font-size: 40px;
  font-family: "Merriweather", serif;
  // font-family: "Futura";
  color: black;
  // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080,
  //   0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: left;
}

// *******************

// .parallax {
//   // background-image: url("cover.png");
//   background: url("cover.png") right 100%, url("IronMonkey.png") left;
//   // background-position: left, right;
//   background-repeat: no-repeat, no-repeat;
//   background-size: 600px, 600px;
//   // background-attachment: fixed;
//   height: 800px;
// }
