Images#index
<!-- <br>
<br>

<% @images.map do |image| %>
<h4>Image ID: <%= image.id %></h4>
<h4>User ID: <%= image.user_id %></h4>
<h4>Caption: <%= image.caption %></h4>
<% end %> -->


@images.map do |image|
  json.set! image.id do
    json.id image.id
    json.user_id image.user_id
    json.caption image.caption
  end
end
